# Heading

## Heading 2

### 3

#### 4

text **bold** *italics*

# **bold heading**

## This is where the code examples start

In [30]:
print('this is an example')

this is an example

# Variable examples

In [31]:
a = 2   #this is var a
b = 3   #this is var b
print(a+b)  #display sum of a & b doing math in the print method
c = a + b   #this is var c using vars a & b
print(c)    #display var c

5
5

# Assignment Operators

In [32]:
name = 'Bob'    #Assign Bob to name
last_name = 'Smith'    #Assign Smith to last_name
full_name = name + ' ' + last_name #Concatenate name and last_name
print(full_name)    #Display full name

Bob Smith

In [33]:
x = 5    #Assign 5 to x
x += 3   #Add 3 to x
print(x) #Display x

8

In [34]:
x = 5   #Assign 5 to x
x -= 3  #Subtract 3 from x
print(x) #Display x

2

In [35]:
x = 5   #Assign 5 to x
x *= 3  #Multiply x by 3
print(x) #Display x

15

In [36]:
x /= 3  #Divide x by 3
print(x) #Display x

5.0

In [37]:
x = 10   #Assign 10 to x
x %= 3   #Assign the remainder of x divided by 3 to x
print(x) #Display x

1

In [38]:
x = 10   #Assign 10 to x
x //= 3  #Floor divide x by 3
print(x) #Display x

3

In [39]:
x = 10   #Assign 10 to x
x **= 3  #Raise x to the power of 3
print(x) #Display x

1000

In [40]:
x = 16   #Assign 16 to x
y = 3    #Assign 3 to y
print(x//y)  #Display the floor division of x by y

5

# Comparison Operators

In [41]:
x = 10   #Assign 10 to x
y = 3    #Assign 3 to y

print(x==y)  #Display if x is equal to y
print(x!=y)  #Display if x is not equal to y
print(x>y)   #Display if x is greater than y
print(x<y)   #Display if x is less than y
print(x>=y)  #Display if x is greater than or equal to y
print(x<=y)  #Display if x is less than or equal to y

False
True
True
False
True
False

In [42]:
pressureGage1 = 176    #Assign 176 to pressureGage1
warningLight = 175      #Assign 175 to warningLight

print(pressureGage1 == warningLight)   #Display if pressureGage1 is equal to warningLight

False

In [43]:
x = 176   #Assign 176 to x
y = 175   #Assign 175 to y

print(x != y)  #Display if x is not equal to y

True

In [44]:
x = 176   #Assign 176 to x
y = 175   #Assign 175 to y

print(x > y)  #Display if x is greater than y

True

In [45]:
x = 176   #Assign 176 to x
y = 175   #Assign 175 to y

print(x < y)  #Display if x is less than y

False

In [46]:
print(x + y)

351

# Logical Operators

In [47]:
x = 10    #Assign 10 to x

print(x>2 and x<10)    #Display if x is greater than 2 and less than 10

False

In [48]:
x = 10    #Assign 10 to x

print(x>2 or x<10)     #Display if x is greater than 2 or less than 10

True

In [49]:
x = 10    #Assign 10 to x

print(not(x>2 and x<11))   #Display the negation of if x is greater than 2 and less than 11

False

# Identity operators

In [50]:
x = ['truck', 'car', 'suv', 11]    #Assign a list to x

print(x[0])  #Display the first element in the list
print(x[1])  #Display the second element in the list
print(x[2])  #Display the third element in the list
print(x[3])  #Display the fourth element in the list

print('car' in x)   #Display if 'car' is in the list x

truck
car
suv
11
True

In [51]:
x = ['truck', 'car', 'suv', 11]    #Assign a list to x

print('van' not in x)   #Display if 'van' is not in the list x

True

# Numerics

In [52]:
x = 5
print(type(x))  #Display the type of x

<class 'int'>

In [53]:
x = 5.5
print(type(x))  #Display the type of x

<class 'float'>

In [54]:
x = 5*1j
print(x)  #Display x with the j variable

5j

# String

In [55]:
x = 'Hello, World!'
print(type(x))  #Display the type of x
print(x)  #Display x

<class 'str'>
Hello, World!

In [56]:
x = '''
this is my first line
second line
third line'''    #This is a multi-line string

print(x)    #Display x

this is my first line
second line
third line

In [57]:
x = 'Hello, World!'    #Assigning a string to x

print(x[4])  #Display the character at index 4

o

In [58]:
x = 'Hello'   #Assigning a string to x
y = 'Bob'     #Assigning a string to y
z = 5        #Assigning an integer to z

print(x + ' ' + y)    #Display the concatenation of x and y
print(x+z)  #This will cause an error

Hello Bob

TypeError: can only concatenate str (not "int") to str

In [ ]:
x = "HELLO BOB"    #Assigning a string to x
y = "hello bob"    #Assigning a string to y

print(x == y)    #Comparing x and y

print(x.lower())  #Convert x to lowercase and display it
print(y.upper())  #Convert y to uppercase and display it

# Boolean

Results in True or False

# Comments

In [ ]:
# This is a comment

'''
This is a multi-line comment
line 2
line 3
'''

# Indentation

In [ ]:
x = 10
y = 5

if x > y:
    print("x is greater than y")    # This line is indented
else:
    print("y is greater than x")    # This line is also indented