# Week 5

## Lists, Tuples, Sets, Dictonaries


## Lists

    lists are unordered and indexed, use [], contain any item.
    lists are muteable (changeable)
    comes with special methods

In [8]:
cars = ['Jeep', 'F350', 'Ram']

print(cars)

['Jeep', 'F350', 'Ram']

##### Access a specific elemnt (index)

In [9]:
print(cars[1])  # access a specific elemnt (index)

F350

In [10]:
print(cars[0:2])    # prints index 0 and 1, but not 2

['Jeep', 'F350']

##### Serach in a list

In [ ]:
lookingFor = 'ram'  # item to search for won't be found because of case sensitivity

if lookingFor in cars:
    print(f"Found {lookingFor} in the list {cars}.")
else:
    print(f"I did not find {lookingFor} in the list {cars}.")

I did not find ram in the list ['Jeep', 'F350', 'Ram'].

In [ ]:
lookingFor = 'Ram'  # item to search for

if lookingFor in cars:
    print(f"Found {lookingFor} in the list {cars}.")
else:
    print(f"I did not find {lookingFor} in the list {cars}.")

Found Ram in the list ['Jeep', 'F350', 'Ram'].

##### No case sensitivity

In [13]:
lookingFor = input("Enter the car you are looking for: ")  # item to search for

if lookingFor in cars:
    print(f"Found {lookingFor} in the list {cars}.")
else:
    print(f"I did not find {lookingFor} in the list {cars}.")

I did not find jeep in the list ['Jeep', 'F350', 'Ram'].

##### Handeling case sensitivity

In [18]:
lookingFor = input("Enter the car you are looking for: ")  # item to search for

lowercaseCars = [car.lower() for car in cars]  # create a new list with all lowercase car names
lowerCaseLookingFor = lookingFor.lower()  # convert the input to lowercase

if lowerCaseLookingFor in lowercaseCars:
    indexLocation = lowercaseCars.index(lowerCaseLookingFor)  # find the index of the found item
    print(f"Found {lookingFor} in the list {cars}.")
else:
    print(f"I did not find {lookingFor} in the list {cars}.")

I did not find banan in the list ['Jeep', 'F350', 'Ram'].

##### Multiple Lists by Value

In [19]:
s = [1,2,3,4,5,]
n = 3

results1 = s*n
results2 = n*s

print(f"s * n = {results1}")
print(f"n * s = {results2}")

s * n = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
n * s = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

##### Add data to Lists

In [20]:
cars = ['Jeep', 'F350', 'Ram']

cars.append('Motorcycle')  # add to the end of the list

print(cars)

['Jeep', 'F350', 'Ram', 'Motorcycle']

In [21]:
cars = ['Jeep', 'F350', 'Ram']

cars.insert(1, 'Bicycle')  # add to the list at index 1

print(cars)

['Jeep', 'Bicycle', 'F350', 'Ram']

In [22]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

list1.extend(list2)  # add all elements of list2 to list1

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Sorting and Reversing

In [23]:
cars = ['Jeep', 'F350', 'Ram']

cars.reverse()  # reverse the order of the list

print(cars)

['Ram', 'F350', 'Jeep']

In [24]:
cars.sort()  # sort the list in ascending order

print(cars)

['F350', 'Jeep', 'Ram']

##### Different Data Types in Lists

In [25]:
cars = ['Jeep', 'F350', 'Ram', [1,2,3,4,5]]
s = [1,2,43,4,5]

print(min(s))  # prints the minimum value in the list
print(len(cars))  # prints the length of the list (how many elements are in it)

1
4

### 2D Lists

    lists wintin lists indexed by column then row

In [27]:
matrix = [
    ['Buell', 'GS650', 'K1200RT', 'K1600GT'],
    ['S10', 'Ram', 'F350'],
    ['Rubicon', 'CJ5']
]

print(matrix)

[['Buell', 'GS650', 'K1200RT', 'K1600GT'], ['S10', 'Ram', 'F350'], ['Rubicon', 'CJ5']]

##### Accessing a specific element

In [28]:
print(matrix[0][2])  # access the 3rd item in the 1st list (K1200RT)

K1200RT

##### 3D Lists

    lists of lists of lists

In [32]:
cube = [
    [
        [1,2,3,],
        [4,5,6,]
    ],
    [
        [7,8,9,],
        [10,11,12,]
    ]

]

print(cube)

element = cube[0][1][2]  # access the 3rd element of the 2nd list in the 1st list
list4 = cube[1][1]  # access the 2nd list in the 2nd list

print(element)

print(list4)

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]
6
[10, 11, 12]

## Tuples

    immutable, ordered, uses (),
    use when data doesn't need to change

In [33]:
myTuple = (1, "Bob", 3.14, True)

print(myTuple)
print(myTuple[0])  # access a specific element in the tuple

(1, 'Bob', 3.14, True)
1

In [34]:
# immutable example
myTuple = (1, "Bob", 3.14, True)
print(myTuple)

# try to change an element (will cause an error)
myTuple[1] = "Fred"
print(myTuple)

(1, 'Bob', 3.14, True)

TypeError: 'tuple' object does not support item assignment

### How to change a Tuple by converting it to a List

In [35]:
myTuple = (1, "Bob", 3.14, True)

myList = list(myTuple)  # convert the tuple to a list
myList[1] = "Fred"  # change the 2nd element in the list
myTuple = tuple(myList)  # convert the list back to a tuple

print(myTuple)

(1, 'Fred', 3.14, True)

## Sets

    unordered and must be unique, uses {}, mutable

In [36]:
mySet = {1,2,3,4}
print(mySet)

{1, 2, 3, 4}

In [37]:
mySet.add(5)  # add an element to the set
print(mySet)

{1, 2, 3, 4, 5}

### Joining Sets

In [39]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

##### Unique value example

In [38]:
set1 = {1,2,3}
set2 = {1,2,3,4,5,6}

union = set1.union(set2)

print(union)

{1, 2, 3, 4, 5, 6}

##### Intersection example
    only keeps what is in both sets

In [40]:
set1 = {1,2,3}
set2 = {1,2,3,4,5,6}

union = set1.intersection(set2)

print(union)

{1, 2, 3}

##### Difference

    only keeps the values that the first has and the second does not (difference between lists)

In [ ]:
set1 = {1,2,3,7}
set2 = {1,2,3,4,5,6}

union = set1.difference(set2)

print(union)

{7}

##### Symeteric differences

    when in either set but not both

In [42]:
set1 = {1,2,3,7}
set2 = {1,2,3,4,5,6}

union = set1.symmetric_difference(set2)

print(union)

{4, 5, 6, 7}

## Dictionaries

    stores data in key:value pairs
    ordered, mutable, no duplicate keys
    uses {} and : {key : value}
    fast lookup

In [44]:
jeep = {
    "brand" : "Jeep",
    "model" : "Rubicon",
    "year" : "2014"
}

print(jeep)

{'brand': 'Jeep', 'model': 'Rubicon', 'year': '2014'}

In [47]:
config = {
    'screen_resolution' : (1920, 1080),
    'color_scheme' : 'dark',
    'file_paths' : {
        'data_file' : '/path/to/data.txt',
        'log_file' : '/path/to/log.txt'
    }
}

print("Screen Resolution:", config['screen_resolution'])

config['color_scheme'] = 'light'  # change the color scheme

config['font_size'] = 16  # add a new key:value pair

print("Font size:", config['font_size'])

Screen Resolution: (1920, 1080)
Font size: 16

##### Search for values in Dictionary

In [48]:
for key in config:
    print(key)

for value in config.values():
    print(value)

for key, value in config.items():
    print(f"{key} : {value}")

screen_resolution
color_scheme
file_paths
font_size
(1920, 1080)
light
{'data_file': '/path/to/data.txt', 'log_file': '/path/to/log.txt'}
16
screen_resolution : (1920, 1080)
color_scheme : light
file_paths : {'data_file': '/path/to/data.txt', 'log_file': '/path/to/log.txt'}
font_size : 16

##### Search for elements in Dictionary

In [53]:
for light in config.values():
    print("Found it")
else:
    print("Did not find it")

for color_scheme in config.items():
    print("Found it")
else:
    print("Did not find it")

Found it
Found it
Found it
Found it
Did not find it
Found it
Found it
Found it
Found it
Did not find it

##### Zipping Dictionaries

In [52]:
keys = ['name', 'age', 'city']
values = ['John Doe', 30, 'New York']

person = dict(zip(keys, values))

print(person)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [54]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

# use zip to pair each name with their corresponding age

for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

##### List Comprehension

    can i shorten my code

In [55]:
cars = ['Jeep', 'F350', 'Ram']

for vehicle in cars:
    print(vehicle)

Jeep
F350
Ram

In [57]:
cars = ['Jeep', 'F350', 'Ram']

print([vehicle for vehicle in cars])
[print(vehicle) for vehicle in cars]

['Jeep', 'F350', 'Ram']
Jeep
F350
Ram

[None, None, None]

In [59]:
customer_ages = [25, -5, 120, 34, 200, 45, 60, -10]

valid_ages = [age for age in customer_ages if 0 <= age <= 120]

print(valid_ages)

[25, 120, 34, 45, 60]