# Project 1 INFS 3070

    Using the Video Game data set, you are to develop a presentation that shows answers to the following questions:

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('http://128.198.162.191/dataFiles/VIDEO-GAMES/Video_Games.csv')

df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## What is the top video game by units?

    Data is in Millions of units.
    You should show the Game title and units.

In [5]:
def top_video_game_by_units(df):
    top_game = df.loc[df['Global_Sales'].idxmax()]
    return top_game[['Name', 'Global_Sales']]

## What is the top video game by the number of users?

    Ensure results are rounded to the nearest whole number.
    You should show the Game Title and the number of users.

In [6]:
def top_game_by_users(df):
    top_game_users = df.loc[df['User_Count'].idxmax()]
    return top_game_users[['Name', 'User_Count']]

## What are the 10 most successful games in North America by units?

    This is to be plotted in a bar chart.
        Display the Game Title on the 'X' axis.
        Display the units on the 'Y' axis.

In [ ]:
def top_ten_na_games_by_unit():

## Show the 10 most successful games in North America by units for games released after 2010.

    This is to be plotted in a bar chart.
        Display the Game Title on the 'X' axis.
        Display the units on the 'Y' axis.
        Display only the horizontal grid lines for units.

In [ ]:
def top_ten_na_games_unit_post2010():

## What is the total units for all games over the years represented in the data?

    This is to be plotted in a line chart.

In [ ]:
def total_units_over_years():

In [ ]:
if __name__ == "__main__":
    top_video_game_by_units
    top_game_by_users
    top_ten_na_games_by_unit
    top_ten_na_games_unit_post2010
    total_units_over_years