# Pandas review

In [2]:
import pandas as pd

df = pd.read_csv('http://128.198.162.191/dataFiles/TITANIC/titanic.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## research questions

### search for passenger

In [6]:
# search for molly brown

molly_brown = df[df['Name'].str.contains('Brown', case=False)]

print(molly_brown)

     PassengerId  Survived  Pclass  \
194          195         1       1
328          329         1       3
345          346         1       2
670          671         1       2
684          685         0       2

                                                  Name     Sex   Age  SibSp  \
194          Brown, Mrs. James Joseph (Margaret Tobin)  female  44.0      0
328     Goldsmith, Mrs. Frank John (Emily Alice Brown)  female  31.0      1
345                      Brown, Miss. Amelia "Mildred"  female  24.0      0
670  Brown, Mrs. Thomas William Solomon (Elizabeth ...  female  40.0      1
684                  Brown, Mr. Thomas William Solomon    male  60.0      1

     Parch    Ticket     Fare Cabin Embarked
194      0  PC 17610  27.7208    B4        C
328      1    363291  20.5250   NaN        S
345      0    248733  13.0000   F33        S
670      1     29750  39.0000   NaN        S
684      1     29750  39.0000   NaN        S

### Who survived?

In [8]:
# group by 'Survived' and name

who_survived = df.groupby('Survived')['Name'].apply(list)

print("List of survivors.", who_survived[1])
print("List of those who did not survive.", who_survived[0])

List of survivors. ['Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Nasser, Mrs. Nicholas (Adele Achem)', 'Sandstrom, Miss. Marguerite Rut', 'Bonnell, Miss. Elizabeth', 'Hewlett, Mrs. (Mary D Kingcome) ', 'Williams, Mr. Charles Eugene', 'Masselmani, Mrs. Fatima', 'Beesley, Mr. Lawrence', 'McGowan, Miss. Anna "Annie"', 'Sloper, Mr. William Thompson', 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'O\'Dwyer, Miss. Ellen "Nellie"', 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'Glynn, Miss. Mary Agatha', 'Mamee, Mr. Hanna', 'Nicola-Yarred, Miss. Jamila', 'Laroche, Miss. Simonne Marie Anne Andree', 'Devaney, Miss. Margaret Delia', "O'Driscoll, Miss. Bridget", 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'Woolner, Mr. Hugh', 'Rugg, Miss. Emily', 'West, Miss. Constance Mirium', 'Icard, Miss. Amelie', 'Moubarek, Master. Gerios', 'Nye, Mrs. (Elizabeth Ramell)', 'Andersson, Miss. Erna Alexandra', 'Bing, Mr. Lee', 'Caldwell, Master. Alden Gates', 'Dowdell, Miss. Elizabeth', 'Sheerlinck, Mr. Jan Baptist', 'McDermott, Miss. Brigdet Delia', 'Ilett, Miss. Bertha', 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'Fortune, Miss. Mabel Helen', 'Greenfield, Mr. William Bertram', 'Doling, Mrs. John T (Ada Julia Bone)', 'Salkjelsvik, Miss. Anna Kristine', 'Moss, Mr. Albert Johan', 'Moran, Miss. Bertha', 'Webber, Miss. Susan', 'Nicola-Yarred, Master. Elias', 'Madsen, Mr. Fridtjof Arne', 'Peter, Miss. Anna', 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'Newsom, Miss. Helen Monypeny', 'Nysten, Miss. Anna Sofia', 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'Andersson, Mr. August Edvard ("Wennerstrom")', 'Pears, Mrs. Thomas (Edith Wearne)', 'Gilnagh, Miss. Katherine "Katie"', 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'Goldsmith, Master. Frank John William "Frankie"', 'Chibnall, Mrs. (Edith Martha Bowerman)', 'Johnson, Miss. Eleanor Ileen', 'Becker, Master. Richard F', 'Kink-Heilmann, Miss. Luise Gretchen', 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'Pinsky, Mrs. (Rosa)', 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'Navratil, Master. Michel M', 'Brown, Mrs. James Joseph (Margaret Tobin)', 'Lurette, Miss. Elise', 'Madigan, Miss. Margaret "Maggie"', 'Cohen, Mr. Gurshon "Gus"', 'Albimona, Mr. Nassef Cassem', 'Carr, Miss. Helen "Ellen"', 'Blank, Mr. Henry', 'Cameron, Miss. Clear Annie', 'Newell, Miss. Madeleine', 'Honkanen, Miss. Eliina', 'Bazzani, Miss. Albina', 'Sunderland, Mr. Victor Francis', 'Hoyt, Mr. Frederick Maxfield', 'Mellors, Mr. William John', 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'Asplund, Miss. Lillian Gertrud', 'Collyer, Miss. Marjorie "Lottie"', 'Murphy, Miss. Katherine "Kate"', 'Hamalainen, Mrs. William (Anna)', 'Beckwith, Mr. Richard Leonard', 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'Thorne, Mrs. Gertrude Maybelle', 'Cherry, Miss. Gladys', 'Ward, Miss. Anna', 'Parrish, Mrs. (Lutie Davis)', 'Asplund, Master. Edvin Rojj Felix', 'Persson, Mr. Ernst Ulrik', 'Graham, Mrs. William Thompson (Edith Junkins)', 'Bissette, Miss. Amelia', 'Tornquist, Mr. William Henry', 'Mellinger, Mrs. (Elizabeth Anne Maidment)', 'Healy, Miss. Hanora "Nora"', 'Andrews, Miss. Kornelia Theodosia', 'Abbott, Mrs. Stanton (Rosa Hunt)', 'Dorking, Mr. Edward Arthur', 'de Mulder, Mr. Theodore', 'Hosono, Mr. Masabumi', 'Connolly, Miss. Kate', 'Barber, Miss. Ellen "Nellie"', 'Bishop, Mrs. Dickinson H (Helen Walton)', 'Saalfeld, Mr. Adolphe', 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'Kelly, Miss. Anna Katherine "Annie Kate"', 'McCoy, Mr. Bernard', 'Keane, Miss. Nora A', 'Allison, Master. Hudson Trevor', 'Fleming, Miss. Margaret', 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', 'Francatelli, Miss. Laura Mabel', 'Hays, Miss. Margaret Bechstein', 'Ryerson, Miss. Emily Borie', 'Nilsson, Miss. Helmina Josefina', 'Kantor, Mrs. Sinai (Miriam Sternin)', 'Wick, Miss. Mary Natalie', 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'Slayter, Miss. Hilda Mary', 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)', 'Young, Miss. Marie Grice', 'Ball, Mrs. (Ada E Hall)', 'Goldsmith, Mrs. Frank John (Emily Alice Brown)', 'Hippach, Miss. Jean Gertrude', 'McCoy, Miss. Agnes', 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'Burns, Miss. Elizabeth Margaret', 'Dahl, Mr. Karl Edwart', 'Navratil, Master. Edmond Roger', 'Fortune, Miss. Alice Elizabeth', 'Brown, Miss. Amelia "Mildred"', 'Smith, Miss. Marion Elsie', 'Davison, Mrs. Thomas Henry (Mary E Finck)', 'Coutts, Master. William Loch "William"', 'Bowerman, Miss. Elsie Edith', 'McGovern, Miss. Mary', 'Mockler, Miss. Helen Mary "Ellie"', 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)', 'Moussa, Mrs. (Mantoura Boulos)', 'Jermyn, Miss. Annie', 'Aubart, Mme. Leontine Pauline', 'Harder, Mr. George Achilles', 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'Landergren, Miss. Aurora Adelia', 'Bidois, Miss. Rosalie', 'Nakid, Miss. Maria ("Mary")', 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'Buss, Miss. Kate', 'Lehmann, Miss. Bertha', 'Carter, Mr. William Ernest', 'Jansson, Mr. Carl Olof', 'Newell, Miss. Marjorie', 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)', 'Trout, Mrs. William H (Jessie L)', 'Niskanen, Mr. Juha', 'Richards, Master. William Rowe', 'Minahan, Miss. Daisy E', 'Sundman, Mr. Johan Julian', 'Drew, Mrs. James Vivian (Lulu Thorne Christian)', 'Silven, Miss. Lyyli Karoliina', 'Clarke, Mrs. Charles V (Ada Maria Winfield)', 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")', 'Pickard, Mr. Berk (Berk Trembisky)', 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'Thorneycroft, Mrs. Percival (Florence Kate White)', 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)', 'Carter, Miss. Lucile Polk', 'Richards, Mrs. Sidney (Emily Hocking)', 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'Reynaldo, Ms. Encarnacion', 'Johannesen-Bratthammer, Mr. Bernt', 'Dodge, Master. Washington', 'Mellinger, Miss. Madeleine Violet', 'Seward, Mr. Frederic Kimber', 'Baclini, Miss. Marie Catherine', 'Peuchen, Major. Arthur Godfrey', 'Goldenberg, Mr. Samuel L', 'Jalsevac, Mr. Ivan', 'Kenyon, Mrs. Frederick R (Marion)', 'Toomey, Miss. Ellen', 'Anderson, Mr. Harry', 'Baclini, Miss. Helene Barbara', 'West, Mrs. Edwy Arthur (Ada Mary Worth)', 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)', 'Hirvonen, Miss. Hildur E', 'Turkula, Mrs. (Hedwig)', 'Bishop, Mr. Dickinson H', 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'Coutts, Master. Eden Leslie "Neville"', 'Eustis, Miss. Elizabeth Mussey', 'Maioni, Miss. Roberta', 'Quick, Mrs. Frederick Charles (Jane Richards)', 'Bradley, Mr. George ("George Arthur Brayton")', 'Lang, Mr. Fang', 'Daly, Mr. Eugene Patrick', 'McGough, Mr. James Robert', 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)', 'Lemore, Mrs. (Amelia Milley)', 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)', 'Perreault, Miss. Anne', 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'Ridsdale, Miss. Lucy', 'Quick, Miss. Phyllis May', 'Peter, Mrs. Catherine (Catherine Rizk)', 'Hart, Miss. Eva Miriam', 'LeRoy, Miss. Bertha', 'Frolicher, Miss. Hedwig Margaritha', 'Crosby, Miss. Harriet R', 'Beane, Mr. Edward', 'Beane, Mrs. Edward (Ethel Clarke)', 'Padro y Manent, Mr. Julian', 'Davies, Master. John Morgan Jr', 'Thayer, Mr. John Borland Jr', 'Leeni, Mr. Fahim ("Philip Zenni")', 'Ohman, Miss. Velin', 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")', 'Taussig, Mrs. Emil (Tillie Mandelbaum)', 'de Messemaeker, Mrs. Guillaume Joseph (Emma)', 'Jonsson, Mr. Carl', 'Harris, Mr. George', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'Flynn, Mr. John Irwin ("Irving")', 'Kelly, Miss. Mary', 'Garside, Miss. Ethel', 'Silvey, Mrs. William Baird (Alice Munger)', 'Jussila, Mr. Eiriik', 'Christy, Miss. Julie Rachel', 'Thayer, Mrs. John Borland (Marian Longstreth Morris)', 'Taussig, Miss. Ruth', 'Frolicher-Stehli, Mr. Maxmillian', 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'Leitch, Miss. Jessie Wills', 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")', 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)', 'Homer, Mr. Harry ("Mr E Haven")', 'Daniel, Mr. Robert Williams', 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)', 'Shutes, Miss. Elizabeth W', 'Murphy, Miss. Margaret Jane', 'Herman, Miss. Alice', 'Becker, Miss. Marion Louise', 'Kimball, Mr. Edwin Nelson Jr', 'Nakid, Mr. Sahid', 'Longley, Miss. Gretchen Fiske', 'Barkworth, Mr. Algernon Henry Wilson', 'Stahelin-Maeglin, Dr. Max', 'Davis, Miss. Mary', 'Sagesser, Mlle. Emma', 'Foo, Mr. Choong', 'Baclini, Miss. Eugenie', 'Harper, Mr. Henry Sleeper', 'Simonius-Blumer, Col. Oberst Alfons', 'Stanley, Miss. Amy Zillah Elsie', 'Doling, Miss. Elsie', 'O\'Leary, Miss. Hanora "Norah"', 'Frauenthal, Dr. Henry William', 'Lindqvist, Mr. Eino William', 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)', 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)', 'Wilhelms, Mr. Charles', 'Turja, Miss. Anna Sofia', 'Cardeza, Mr. Thomas Drake Martinez', 'Hassab, Mr. Hammad', 'Madill, Miss. Georgette Alexandra', 'Dick, Mr. Albert Adrian', 'Karun, Miss. Manca', 'Lam, Mr. Ali', 'Mullens, Miss. Katherine "Katie"', 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)', 'Silverthorne, Mr. Spencer Victor', 'Kelly, Mrs. Florence "Fannie"', 'Calderhead, Mr. Edward Pennington', 'Cleaver, Miss. Alice', 'Moubarek, Master. Halim Gonios ("William George")', 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")', 'Taylor, Mr. Elmer Zebley', 'Endres, Miss. Caroline Louise', 'Troutt, Miss. Edwina Celia "Winnie"', 'Harper, Miss. Annie Jessie "Nina"', 'Chambers, Mr. Norman Campbell', 'Renouf, Mrs. Peter Henry (Lillian Jefferys)', 'Mannion, Miss. Margareth', 'Allen, Miss. Elisabeth Walton', 'Lesurer, Mr. Gustave J', 'Hawksford, Mr. Walter James', 'Ryerson, Miss. Susan Parker "Suzette"', 'Stranden, Mr. Juho', 'Sinkkonen, Miss. Anna', 'Wells, Miss. Joan', 'Moor, Master. Meier', 'Herman, Mrs. Samuel (Jane Laver)', 'Hamalainen, Master. Viljo', 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)', 'Barah, Mr. Hanna Assi', 'Carter, Mrs. William Ernest (Lucile Polk)', 'Hogeboom, Mrs. John C (Anna Andrews)', 'Hocking, Mrs. Elizabeth (Eliza Needs)', 'Emanuel, Miss. Virginia Ethel', 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)', 'Ayoub, Miss. Banoura', 'Dick, Mrs. Albert Adrian (Vera Gillespie)', 'Sjoblom, Miss. Anna Sofia', 'Dean, Master. Bertram Vere', 'Leader, Dr. Alice (Farnham)', 'Osman, Mrs. Mara', 'Collyer, Mrs. Harvey (Charlotte Annie Tate)', 'Carter, Master. William Thornton II', 'Thomas, Master. Assad Alexander', 'Hedman, Mr. Oskar Arvid', 'Chambers, Mrs. Norman Campbell (Bertha Griggs)', 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)', 'Lulic, Mr. Nikola', 'Moor, Mrs. (Beila)', 'Mallet, Master. Andre', 'McCormack, Mr. Thomas Joseph', 'Stone, Mrs. George Nelson (Martha Evelyn)', 'Yasbeck, Mrs. Antoni (Selini Alexander)', 'Richards, Master. George Sibley', 'Compton, Miss. Sara Rebecca', 'Chip, Mr. Chang', 'Marechal, Mr. Pierre', 'Serepeca, Miss. Augusta', 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)', 'Lines, Miss. Mary Conover', 'Aks, Mrs. Sam (Leah Rosen)', 'Wick, Mrs. George Dennick (Mary Hitchcock)', 'Daly, Mr. Peter Denis ', 'Baclini, Mrs. Solomon (Latifa Qurban)', 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)', 'Bystrom, Mrs. (Karolina)', 'Duran y More, Miss. Asuncion', 'Johnson, Master. Harold Theodor', 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)', 'Abelson, Mrs. Samuel (Hannah Wizosky)', 'Najib, Miss. Adele Kiamie "Jane"', 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)', 'Shelley, Mrs. William (Imanita Parrish Hall)', 'Graham, Miss. Margaret Edith', 'Behr, Mr. Karl Howell']

In [11]:
who_survived = df.groupby('Survived')['Name'].apply(list)

print("List of survivors: ")

for name in who_survived[1]:
    print(name)

print("\nList of those who did not survive: ")

for name in who_survived[0]:
    print(name)

List of survivors:
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Hewlett, Mrs. (Mary D Kingcome)
Williams, Mr. Charles Eugene
Masselmani, Mrs. Fatima
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
O'Dwyer, Miss. Ellen "Nellie"
Spencer, Mrs. William Augustus (Marie Eugenie)
Glynn, Miss. Mary Agatha
Mamee, Mr. Hanna
Nicola-Yarred, Miss. Jamila
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
O'Driscoll, Miss. Bridget
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Woolner, Mr. Hugh
Rugg, Miss. Emily
West, Miss. Constance Mirium
Icard, Miss. Amelie
Moubarek, Master. Gerios
Nye, Mrs. (Elizabeth Ramell)
Andersson, Miss. Erna Alexandra
Bing, Mr. Lee
Caldwell, Master. Alden Gates
Dowdell, Miss. Elizabeth
Sheerlinck, Mr. Jan Baptist
McDermott, Miss. Brigdet Delia
Ilett, Miss. Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Fortune, Miss. Mabel Helen
Greenfield, Mr. William Bertram
Doling, Mrs. John T (Ada Julia Bone)
Salkjelsvik, Miss. Anna Kristine
Moss, Mr. Albert Johan
Moran, Miss. Bertha
Webber, Miss. Susan
Nicola-Yarred, Master. Elias
Madsen, Mr. Fridtjof Arne
Peter, Miss. Anna
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Newsom, Miss. Helen Monypeny
Nysten, Miss. Anna Sofia
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Andersson, Mr. August Edvard ("Wennerstrom")
Pears, Mrs. Thomas (Edith Wearne)
Gilnagh, Miss. Katherine "Katie"
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Goldsmith, Master. Frank John William "Frankie"
Chibnall, Mrs. (Edith Martha Bowerman)
Johnson, Miss. Eleanor Ileen
Becker, Master. Richard F
Kink-Heilmann, Miss. Luise Gretchen
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Pinsky, Mrs. (Rosa)
Andersen-Jensen, Miss. Carla Christine Nielsine
Navratil, Master. Michel M
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Madigan, Miss. Margaret "Maggie"
Cohen, Mr. Gurshon "Gus"
Albimona, Mr. Nassef Cassem
Carr, Miss. Helen "Ellen"
Blank, Mr. Henry
Cameron, Miss. Clear Annie
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Bazzani, Miss. Albina
Sunderland, Mr. Victor Francis
Hoyt, Mr. Frederick Maxfield
Mellors, Mr. William John
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Asplund, Miss. Lillian Gertrud
Collyer, Miss. Marjorie "Lottie"
Murphy, Miss. Katherine "Kate"
Hamalainen, Mrs. William (Anna)
Beckwith, Mr. Richard Leonard
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Parrish, Mrs. (Lutie Davis)
Asplund, Master. Edvin Rojj Felix
Persson, Mr. Ernst Ulrik
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Tornquist, Mr. William Henry
Mellinger, Mrs. (Elizabeth Anne Maidment)
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Abbott, Mrs. Stanton (Rosa Hunt)
Dorking, Mr. Edward Arthur
de Mulder, Mr. Theodore
Hosono, Mr. Masabumi
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Bishop, Mrs. Dickinson H (Helen Walton)
Saalfeld, Mr. Adolphe
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Kelly, Miss. Anna Katherine "Annie Kate"
McCoy, Mr. Bernard
Keane, Miss. Nora A
Allison, Master. Hudson Trevor
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Nilsson, Miss. Helmina Josefina
Kantor, Mrs. Sinai (Miriam Sternin)
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Slayter, Miss. Hilda Mary
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Young, Miss. Marie Grice
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Burns, Miss. Elizabeth Margaret
Dahl, Mr. Karl Edwart
Navratil, Master. Edmond Roger
Fortune, Miss. Alice Elizabeth
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Davison, Mrs. Thomas Henry (Mary E Finck)
Coutts, Master. William Loch "William"
Bowerman, Miss. Elsie Edith
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Jermyn, Miss. Annie
Aubart, Mme. Leontine Pauline
Harder, Mr. George Achilles
Meyer, Mrs. Edgar Joseph (Leila Saks)
Landergren, Miss. Aurora Adelia
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Buss, Miss. Kate
Lehmann, Miss. Bertha
Carter, Mr. William Ernest
Jansson, Mr. Carl Olof
Newell, Miss. Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Trout, Mrs. William H (Jessie L)
Niskanen, Mr. Juha
Richards, Master. William Rowe
Minahan, Miss. Daisy E
Sundman, Mr. Johan Julian
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Silven, Miss. Lyyli Karoliina
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Pickard, Mr. Berk (Berk Trembisky)
Bjornstrom-Steffansson, Mr. Mauritz Hakan
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Carter, Miss. Lucile Polk
Richards, Mrs. Sidney (Emily Hocking)
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Reynaldo, Ms. Encarnacion
Johannesen-Bratthammer, Mr. Bernt
Dodge, Master. Washington
Mellinger, Miss. Madeleine Violet
Seward, Mr. Frederic Kimber
Baclini, Miss. Marie Catherine
Peuchen, Major. Arthur Godfrey
Goldenberg, Mr. Samuel L
Jalsevac, Mr. Ivan
Kenyon, Mrs. Frederick R (Marion)
Toomey, Miss. Ellen
Anderson, Mr. Harry
Baclini, Miss. Helene Barbara
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Hirvonen, Miss. Hildur E
Turkula, Mrs. (Hedwig)
Bishop, Mr. Dickinson H
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Coutts, Master. Eden Leslie "Neville"
Eustis, Miss. Elizabeth Mussey
Maioni, Miss. Roberta
Quick, Mrs. Frederick Charles (Jane Richards)
Bradley, Mr. George ("George Arthur Brayton")
Lang, Mr. Fang
Daly, Mr. Eugene Patrick
McGough, Mr. James Robert
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Lemore, Mrs. (Amelia Milley)
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Perreault, Miss. Anne
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Ridsdale, Miss. Lucy
Quick, Miss. Phyllis May
Peter, Mrs. Catherine (Catherine Rizk)
Hart, Miss. Eva Miriam
LeRoy, Miss. Bertha
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Beane, Mr. Edward
Beane, Mrs. Edward (Ethel Clarke)
Padro y Manent, Mr. Julian
Davies, Master. John Morgan Jr
Thayer, Mr. John Borland Jr
Leeni, Mr. Fahim ("Philip Zenni")
Ohman, Miss. Velin
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Jonsson, Mr. Carl
Harris, Mr. George
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Flynn, Mr. John Irwin ("Irving")
Kelly, Miss. Mary
Garside, Miss. Ethel
Silvey, Mrs. William Baird (Alice Munger)
Jussila, Mr. Eiriik
Christy, Miss. Julie Rachel
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Taussig, Miss. Ruth
Frolicher-Stehli, Mr. Maxmillian
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Leitch, Miss. Jessie Wills
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Homer, Mr. Harry ("Mr E Haven")
Daniel, Mr. Robert Williams
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Shutes, Miss. Elizabeth W
Murphy, Miss. Margaret Jane
Herman, Miss. Alice
Becker, Miss. Marion Louise
Kimball, Mr. Edwin Nelson Jr
Nakid, Mr. Sahid
Longley, Miss. Gretchen Fiske
Barkworth, Mr. Algernon Henry Wilson
Stahelin-Maeglin, Dr. Max
Davis, Miss. Mary
Sagesser, Mlle. Emma
Foo, Mr. Choong
Baclini, Miss. Eugenie
Harper, Mr. Henry Sleeper
Simonius-Blumer, Col. Oberst Alfons
Stanley, Miss. Amy Zillah Elsie
Doling, Miss. Elsie
O'Leary, Miss. Hanora "Norah"
Frauenthal, Dr. Henry William
Lindqvist, Mr. Eino William
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Wilhelms, Mr. Charles
Turja, Miss. Anna Sofia
Cardeza, Mr. Thomas Drake Martinez
Hassab, Mr. Hammad
Madill, Miss. Georgette Alexandra
Dick, Mr. Albert Adrian
Karun, Miss. Manca
Lam, Mr. Ali
Mullens, Miss. Katherine "Katie"
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Silverthorne, Mr. Spencer Victor
Kelly, Mrs. Florence "Fannie"
Calderhead, Mr. Edward Pennington
Cleaver, Miss. Alice
Moubarek, Master. Halim Gonios ("William George")
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Taylor, Mr. Elmer Zebley
Endres, Miss. Caroline Louise
Troutt, Miss. Edwina Celia "Winnie"
Harper, Miss. Annie Jessie "Nina"
Chambers, Mr. Norman Campbell
Renouf, Mrs. Peter Henry (Lillian Jefferys)
Mannion, Miss. Margareth
Allen, Miss. Elisabeth Walton
Lesurer, Mr. Gustave J
Hawksford, Mr. Walter James
Ryerson, Miss. Susan Parker "Suzette"
Stranden, Mr. Juho
Sinkkonen, Miss. Anna
Wells, Miss. Joan
Moor, Master. Meier
Herman, Mrs. Samuel (Jane Laver)
Hamalainen, Master. Viljo
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Barah, Mr. Hanna Assi
Carter, Mrs. William Ernest (Lucile Polk)
Hogeboom, Mrs. John C (Anna Andrews)
Hocking, Mrs. Elizabeth (Eliza Needs)
Emanuel, Miss. Virginia Ethel
Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)
Ayoub, Miss. Banoura
Dick, Mrs. Albert Adrian (Vera Gillespie)
Sjoblom, Miss. Anna Sofia
Dean, Master. Bertram Vere
Leader, Dr. Alice (Farnham)
Osman, Mrs. Mara
Collyer, Mrs. Harvey (Charlotte Annie Tate)
Carter, Master. William Thornton II
Thomas, Master. Assad Alexander
Hedman, Mr. Oskar Arvid
Chambers, Mrs. Norman Campbell (Bertha Griggs)
Hays, Mrs. Charles Melville (Clara Jennings Gregg)
Lulic, Mr. Nikola
Moor, Mrs. (Beila)
Mallet, Master. Andre
McCormack, Mr. Thomas Joseph
Stone, Mrs. George Nelson (Martha Evelyn)
Yasbeck, Mrs. Antoni (Selini Alexander)
Richards, Master. George Sibley
Compton, Miss. Sara Rebecca
Chip, Mr. Chang
Marechal, Mr. Pierre
Serepeca, Miss. Augusta
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Lines, Miss. Mary Conover
Aks, Mrs. Sam (Leah Rosen)
Wick, Mrs. George Dennick (Mary Hitchcock)
Daly, Mr. Peter Denis
Baclini, Mrs. Solomon (Latifa Qurban)
Swift, Mrs. Frederick Joel (Margaret Welles Barron)
Bystrom, Mrs. (Karolina)
Duran y More, Miss. Asuncion
Johnson, Master. Harold Theodor
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Abelson, Mrs. Samuel (Hannah Wizosky)
Najib, Miss. Adele Kiamie "Jane"
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Shelley, Mrs. William (Imanita Parrish Hall)
Graham, Miss. Margaret Edith
Behr, Mr. Karl Howell

List of those who did not survive:
Braund, Mr. Owen Harris
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Rice, Master. Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Fynney, Mr. Joseph J
Palsson, Miss. Torborg Danira
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
Todoroff, Mr. Lalio
Uruchurtu, Don. Manuel E
Wheadon, Mr. Edward H
Meyer, Mr. Edgar Joseph
Holverson, Mr. Alexander Oskar
Cann, Mr. Ernest Charles
Vander Planke, Miss. Augusta Maria
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Kraeff, Mr. Theodor
Rogers, Mr. William John
Lennon, Mr. Denis
Samaan, Mr. Youssef
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Panula, Master. Juha Niilo
Nosworthy, Mr. Richard Cater
Ostby, Mr. Engelhart Cornelius
Novel, Mr. Mansouer
Goodwin, Master. William Frederick
Sirayanian, Mr. Orsen
Harris, Mr. Henry Birkhardt
Skoog, Master. Harald
Stewart, Mr. Albert A
Crease, Mr. Ernest James
Kink, Mr. Vincenz
Jenkin, Mr. Stephen Curnow
Goodwin, Miss. Lillian Amy
Hood, Mr. Ambrose Jr
Chronopoulos, Mr. Apostolos
Moen, Mr. Sigurd Hansen
Staneff, Mr. Ivan
Moutal, Mr. Rahamin Haim
Waelens, Mr. Achille
Carrau, Mr. Francisco M
Ford, Mr. William Neal
Slocovski, Mr. Selman Francis
Celotti, Mr. Francesco
Christmann, Mr. Emil
Andreasson, Mr. Paul Edvin
Chaffee, Mr. Herbert Fuller
Dean, Mr. Bertram Frank
Coxon, Mr. Daniel
Shorney, Mr. Charles Joseph
Goldschmidt, Mr. George B
Kantor, Mr. Sinai
Petranec, Miss. Matilda
Petroff, Mr. Pastcho ("Pentcho")
White, Mr. Richard Frasar
Johansson, Mr. Gustaf Joel
Gustafsson, Mr. Anders Vilhelm
Mionoff, Mr. Stoytcho
Rekic, Mr. Tido
Porter, Mr. Walter Chamberlain
Zabour, Miss. Hileni
Barton, Mr. David John
Jussila, Miss. Katriina
Attalah, Miss. Malake
Pekoniemi, Mr. Edvard
Connors, Mr. Patrick
Turpin, Mr. William John Robert
Baxter, Mr. Quigg Edmond
Andersson, Miss. Ellis Anna Maria
Hickman, Mr. Stanley George
Moore, Mr. Leonard Charles
Nasser, Mr. Nicholas
White, Mr. Percival Wayland
McMahon, Mr. Martin
Ekstrom, Mr. Johan
Drazenoic, Mr. Jozef
Coelho, Mr. Domingos Fernandeo
Robins, Mrs. Alexander A (Grace Charity Laury)
Sobey, Mr. Samuel James Hayden
Richard, Mr. Emile
Futrelle, Mr. Jacques Heath
Osen, Mr. Olaf Elon
Giglio, Mr. Victor
Boulos, Mrs. Joseph (Sultana)
Burke, Mr. Jeremiah
Andrew, Mr. Edgardo Samuel
Nicholls, Mr. Joseph Charles
Ford, Miss. Robina Maggie "Ruby"
Navratil, Mr. Michel ("Louis M Hoffman")
Byles, Rev. Thomas Roussel Davids
Bateman, Rev. Robert James
Meo, Mr. Alfonzo
van Billiard, Mr. Austin Blyler
Olsen, Mr. Ole Martin
Williams, Mr. Charles Duane
Corn, Mr. Harry
Smiljanic, Mr. Mile
Sage, Master. Thomas Henry
Cribb, Mr. John Hatfield
Bengtsson, Mr. John Viktor
Calic, Mr. Jovo
Panula, Master. Eino Viljami
Skoog, Mrs. William (Anna Bernhardina Karlsson)
Baumann, Mr. John D
Ling, Mr. Lee
Van der hoef, Mr. Wyckoff
Rice, Master. Arthur
Sivola, Mr. Antti Wilhelm
Smith, Mr. James Clinch
Klasen, Mr. Klas Albin
Lefebre, Master. Henry Forbes
Isham, Miss. Ann Elizabeth
Hale, Mr. Reginald
Leonard, Mr. Lionel
Sage, Miss. Constance Gladys
Pernot, Mr. Rene
Asplund, Master. Clarence Gustaf Hugo
Rood, Mr. Hugh Roscoe
Bourke, Mr. John
Turcin, Mr. Stjepan
Carbines, Mr. William
Mernagh, Mr. Robert
Olsen, Mr. Karl Siegwart Andreas
Yrois, Miss. Henriette ("Mrs Harbeck")
Vande Walle, Mr. Nestor Cyriel
Sage, Mr. Frederick
Johanson, Mr. Jakob Alfred
Youseff, Mr. Gerious
Strom, Miss. Telma Matilda
Backstrom, Mr. Karl Alfred
Ali, Mr. Ahmed
Perkin, Mr. John Henry
Givard, Mr. Hans Kristensen
Kiernan, Mr. Philip
Jacobsohn, Mr. Sidney Samuel
Harris, Mr. Walter
Bracken, Mr. James H
Green, Mr. George Henry
Nenkoff, Mr. Christo
Berglund, Mr. Karl Ivar Sven
Lovell, Mr. John Hall ("Henry")
Fahlstrom, Mr. Arne Jonas
Lefebre, Miss. Mathilde
Larsson, Mr. Bengt Edvin
Sjostedt, Mr. Ernst Adolf
Leyson, Mr. Robert William Norman
Harknett, Miss. Alice Phoebe
Hold, Mr. Stephen
Pengelly, Mr. Frederick William
Hunt, Mr. George Henry
Zabour, Miss. Thamine
Coleridge, Mr. Reginald Charles
Maenpaa, Mr. Matti Alexanteri
Attalah, Mr. Sleiman
Minahan, Dr. William Edward
Lindahl, Miss. Agda Thorilda Viktoria
Carter, Rev. Ernest Courtenay
Reed, Mr. James George
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Stead, Mr. William Thomas
Lobb, Mr. William Arthur
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Smith, Mr. Thomas
Taussig, Mr. Emil
Harrison, Mr. William
Henry, Miss. Delia
Reeves, Mr. David
Panula, Mr. Ernesti Arvid
Cairns, Mr. Alexander
Natsch, Mr. Charles H
Lindblom, Miss. Augusta Charlotta
Parkes, Mr. Francis "Frank"
Rice, Master. Eric
Duane, Mr. Frank
Olsson, Mr. Nils Johan Goransson
de Pelsmaeker, Mr. Alfons
Smith, Mr. Richard William
Stankovic, Mr. Ivan
Naidenoff, Mr. Penko
Levy, Mr. Rene Jacques
Haas, Miss. Aloisia
Mineff, Mr. Ivan
Lewy, Mr. Ervin G
Hanna, Mr. Mansour
Allison, Miss. Helen Loraine
Johnson, Mr. William Cahoone Jr
Williams, Mr. Howard Hugh "Harry"
Abelson, Mr. Samuel
Lahtinen, Mrs. William (Anna Sylfven)
Hendekovic, Mr. Ignjac
Hart, Mr. Benjamin
Moraweck, Dr. Ernest
Dennis, Mr. Samuel
Danoff, Mr. Yoto
Sage, Mr. George John Jr
Nysveen, Mr. Johan Hansen
Partner, Mr. Austen
Graham, Mr. George Edward
Vander Planke, Mr. Leo Edmondus
Denkoff, Mr. Mitto
Pears, Mr. Thomas Clinton
Blackwell, Mr. Stephen Weart
Collander, Mr. Erik Gustaf
Sedgwick, Mr. Charles Frederick Waddington
Fox, Mr. Stanley Hubert
Dimic, Mr. Jovan
Odahl, Mr. Nils Martin
Williams-Lambert, Mr. Fletcher Fellows
Elias, Mr. Tannous
Arnold-Franchi, Mr. Josef
Yousif, Mr. Wazli
Vanden Steen, Mr. Leo Peter
Funk, Miss. Annie Clemmer
Skoog, Mr. Wilhelm
del Carlo, Mr. Sebastiano
Barbara, Mrs. (Catherine David)
Asim, Mr. Adola
O'Brien, Mr. Thomas
Adahl, Mr. Mauritz Nils Martin
Wiklund, Mr. Jakob Alfred
Beavan, Mr. William Thomas
Ringhini, Mr. Sante
Palsson, Miss. Stina Viola
Widener, Mr. Harry Elkins
Betros, Mr. Tannous
Gustafsson, Mr. Karl Gideon
Tikkanen, Mr. Juho
Plotcharsky, Mr. Vasil
Davies, Mr. Charles Henry
Goodwin, Master. Sidney Leonard
Sadlier, Mr. Matthew
Gustafsson, Mr. Johan Birger
Johansson, Mr. Erik
Olsson, Miss. Elina
McKane, Mr. Peter David
Pain, Dr. Alfred
Adams, Mr. John
Jussila, Miss. Mari Aina
Hakkarainen, Mr. Pekka Pietari
Oreskovic, Miss. Marija
Gale, Mr. Shadrach
Widegren, Mr. Carl/Charles Peter
Birkeland, Mr. Hans Martin Monsen
Lefebre, Miss. Ida
Sdycoff, Mr. Todor
Hart, Mr. Henry
Cunningham, Mr. Alfred Fleming
Meek, Mrs. Thomas (Annie Louise Rowley)
Matthews, Mr. William John
Van Impe, Miss. Catharina
Gheorgheff, Mr. Stanio
Charters, Mr. David
Zimmerman, Mr. Leo
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Rosblom, Mr. Viktor Richard
Wiseman, Mr. Phillippe
Flynn, Mr. James
Kallio, Mr. Nikolai Erland
Silvey, Mr. William Baird
Ford, Miss. Doolina Margaret "Daisy"
Fortune, Mr. Mark
Kvillner, Mr. Johan Henrik Johannesson
Hampe, Mr. Leon
Petterson, Mr. Johan Emil
West, Mr. Edwy Arthur
Hagland, Mr. Ingvald Olai Olsen
Foreman, Mr. Benjamin Laventall
Peduzzi, Mr. Joseph
Millet, Mr. Francis Davis
O'Connor, Mr. Maurice
Morley, Mr. William
Gee, Mr. Arthur H
Milling, Mr. Jacob Christian
Maisner, Mr. Simon
Goncalves, Mr. Manuel Estanslas
Campbell, Mr. William
Smart, Mr. John Montgomery
Scanlan, Mr. James
Keefe, Mr. Arthur
Cacic, Mr. Luka
Strandberg, Miss. Ida Sofia
Clifford, Mr. George Quincy
Renouf, Mr. Peter Henry
Braund, Mr. Lewis Richard
Karlsson, Mr. Nils August
Goodwin, Master. Harold Victor
Frost, Mr. Anthony Wood "Archie"
Rouse, Mr. Richard Henry
Lefebre, Miss. Jeannie
Kent, Mr. Edward Austin
Somerton, Mr. Francis William
Hagland, Mr. Konrad Mathias Reiersen
Windelov, Mr. Einar
Molson, Mr. Harry Markland
Artagaveytia, Mr. Ramon
Stanley, Mr. Edward Roland
Yousseff, Mr. Gerious
Shellard, Mr. Frederick William
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Svensson, Mr. Olof
Calic, Mr. Petar
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Penasco y Castellana, Mr. Victor de Satode
Olsen, Mr. Henry Margido
Webber, Mr. James
Coleff, Mr. Satio
Walker, Mr. William Anderson
Ryan, Mr. Patrick
Pavlovic, Mr. Stefo
Vovk, Mr. Janko
Lahoud, Mr. Sarkis
Kassem, Mr. Fared
Farrell, Mr. James
Farthing, Mr. John
Salonen, Mr. Johan Werner
Hocking, Mr. Richard George
Toufik, Mr. Nakli
Elias, Mr. Joseph Jr
Cacic, Miss. Marija
Butt, Major. Archibald Willingham
Risien, Mr. Samuel Beard
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Douglas, Mr. Walter Donald
Nicholson, Mr. Arthur Ernest
Goldsmith, Mr. Frank John
Sharp, Mr. Percival James R
O'Brien, Mr. Timothy
Wright, Mr. George
Robbins, Mr. Victor
Morrow, Mr. Thomas Rowan
Sivic, Mr. Husein
Norman, Mr. Robert Douglas
Simmons, Mr. John
Meanwell, Miss. (Marion Ogden)
Davies, Mr. Alfred J
Stoytcheff, Mr. Ilia
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Doharr, Mr. Tannous
Rush, Mr. Alfred George John
Patchett, Mr. George
Caram, Mrs. Joseph (Maria Elias)
Downton, Mr. William James
Ross, Mr. John Hugo
Paulner, Mr. Uscher

### how many men vs women survived

In [12]:
survivedByGender = df.groupby(['Survived', 'Sex']).size()

print(survivedByGender)

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
dtype: int64

### Odd of surviving men vs women

In [16]:
maleSurvived = df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
maleDied = df[(df['Sex'] == 'male') & (df['Survived'] == 0)].shape[0]

femaleSurvived = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]
femaleDied = df[(df['Sex'] == 'female') & (df['Survived'] == 0)].shape[0]

oddsMale = maleSurvived / maleDied

oddsFemale = femaleSurvived / femaleDied

print(f"Odds of surviving for men: {oddsMale:.2f}")
print(f"Odds of surviving for women: {oddsFemale:.2f}")

Odds of surviving for men: 0.23
Odds of surviving for women: 2.88

# Larger Dataset analysis

## IMPB Examples

### Import libraries and files

In [21]:
import pandas as pd

dftitles = pd.read_csv('http://128.198.162.191/dataFiles/IMDB/titleBasics.tsv', sep='\t', low_memory=False)
dfratings = pd.read_csv('http://128.198.162.191/dataFiles/IMDB/ratings.tsv', sep='\t', low_memory=False)
dfnames = pd.read_csv('http://128.198.162.191/dataFiles/IMDB/nameBasics.tsv', sep='\t', low_memory=False)
dfcrew = pd.read_csv('http://128.198.162.191/dataFiles/IMDB/crew.tsv', sep='\t', low_memory=False)

In [25]:
dftitles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9656025 entries, 0 to 9656024
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 663.0+ MB

In [26]:
dftitles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [27]:
dfratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284591 entries, 0 to 1284590
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1284591 non-null  object
 1   averageRating  1284591 non-null  float64
 2   numVotes       1284591 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.4+ MB

In [28]:
dfratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1957
1  tt0000002            5.8       263
2  tt0000003            6.5      1790
3  tt0000004            5.6       179
4  tt0000005            6.2      2593

In [29]:
dfnames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12351472 entries, 0 to 12351471
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 565.4+ MB

In [30]:
dfnames.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0045537,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0056404,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0060827,tt0083922"

In [31]:
dfcrew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9656025 entries, 0 to 9656024
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 221.0+ MB

In [32]:
dfcrew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

## Limit number of columns in the data.

In [37]:
dftitles = pd.read_csv('http://128.198.162.191/dataFiles/IMDB/titleBasics.tsv', sep='\t', low_memory=False, usecols=['titleType', 'tconst', 'primaryTitle', 'startYear'])
dftitles.head()

      tconst titleType            primaryTitle startYear
0  tt0000001     short              Carmencita      1894
1  tt0000002     short  Le clown et ses chiens      1892
2  tt0000003     short          Pauvre Pierrot      1892
3  tt0000004     short             Un bon bock      1892
4  tt0000005     short        Blacksmith Scene      1893

## Resqrch Questions

#### Name and year of movie with highest rating and highest number of votes.

In [40]:
# find the data; dfratings for votes and averageRating, dftitles for primaryTitle and startYear

dfmerged = pd.merge(dftitles, dfratings, on='tconst')   # merges based on tconst column common to both

dfmerged

,tconst,titleType,primaryTitle,startYear,averageRating,numVotes
0,tt0000001,short,Carmencita,1894,5.7,1957
1,tt0000002,short,Le clown et ses chiens,1892,5.8,263
2,tt0000003,short,Pauvre Pierrot,1892,6.5,1790
3,tt0000004,short,Un bon bock,1892,5.6,179
4,tt0000005,short,Blacksmith Scene,1893,6.2,2593
...,...,...,...,...,...,...
1284586,tt9916730,movie,6 Gunn,2017,8.3,10
1284587,tt9916766,tvEpisode,Episode #10.15,2019,7.0,21
1284588,tt9916778,tvEpisode,Escape,2019,7.2,36
1284589,tt9916840,tvEpisode,Horrid Henry's Comic Caper,2014,8.8,6
1284590,tt9916880,tvEpisode,Horrid Henry Knows It All,2014,8.2,6

In [41]:
rating_sort = (dfmerged.query('titleType == "movie"'))

rating_sort

,tconst,titleType,primaryTitle,startYear,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,1894,5.3,204
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,5.2,466
326,tt0000502,movie,Bohemios,1905,4.1,15
358,tt0000574,movie,The Story of the Kelly Gang,1906,6.0,815
365,tt0000591,movie,The Prodigal Son,1907,4.4,20
...,...,...,...,...,...,...
1284561,tt9916270,movie,Il talento del calabrone,2020,5.8,1400
1284565,tt9916362,movie,Coven,2020,6.4,5200
1284569,tt9916428,movie,The Secret of China,2019,3.8,14
1284574,tt9916538,movie,Kuambil Lagi Hatiku,2019,8.3,6
1284586,tt9916730,movie,6 Gunn,2017,8.3,10

In [42]:
rating_sort.sort_values(by= 'averageRating', ascending=False)

,tconst,titleType,primaryTitle,startYear,averageRating,numVotes
835736,tt21236128,movie,We Are Art Through the Eyes of Annalaura,2022,10.0,10
913222,tt26696489,movie,Yooper Creoles: Finnish Music in Michigan's Co...,2019,10.0,5
618684,tt13458442,movie,Vegan on a Jet Plane: Bali,2021,10.0,13
721691,tt15881774,movie,Time and motion 2,2021,10.0,20
532659,tt11654554,movie,The Fragile King,2022,10.0,6
...,...,...,...,...,...,...
738002,tt1645915,movie,Stand Up Face the Fear,2008,1.0,36
1239842,tt8654080,movie,Overdose of Gore: Crime born Crime,2015,1.0,31
1240206,tt8665056,movie,Guns Along The Bravo,2001,1.0,6
950925,tt3262718,movie,"Bai bai, marno",2013,1.0,274
1179670,tt7221896,movie,Cumali Ceber,2017,1.0,39142

In [43]:
rating_sort.sort_values(by= ['averageRating', 'numVotes'], ascending=False)

,tconst,titleType,primaryTitle,startYear,averageRating,numVotes
832308,tt21101694,movie,In Pursuit of Flavor,2022,10.0,40
494195,tt10925174,movie,Petersburg's tram,2007,10.0,26
481016,tt10663998,movie,Widow of the Revolution: The Anna Larina Story,2000,10.0,25
584035,tt12745710,movie,Publish or Perish,2023,10.0,25
838642,tt21345048,movie,Tahanan (Home),2022,10.0,22
...,...,...,...,...,...,...
1184978,tt7332864,movie,Der Schuldschein des Pandola,1918,1.0,8
779202,tt18302390,movie,The Little Chinese Mermaid,2019,1.0,7
1240206,tt8665056,movie,Guns Along The Bravo,2001,1.0,6
1254058,tt9027346,movie,Apocalypse Again: Acceptance of Inheritance,2018,1.0,6
839344,tt21372706,movie,Nuh'un Gemisi Cudi'de 2,2022,1.0,5

In [44]:
rating_sort.sort_values(by=['numVotes', 'averageRating'], ascending=False)

,tconst,titleType,primaryTitle,startYear,averageRating,numVotes
82382,tt0111161,movie,The Shawshank Redemption,1994,9.3,2707952
249538,tt0468569,movie,The Dark Knight,2008,9.0,2681200
632482,tt1375666,movie,Inception,2010,8.8,2379176
98830,tt0137523,movie,Fight Club,1999,8.8,2152147
81289,tt0109830,movie,Forrest Gump,1994,8.8,2104001
...,...,...,...,...,...,...
814683,tt20183562,movie,Torment,2022,1.8,5
1188101,tt7407470,movie,The Road Back,2017,1.8,5
499372,tt11012390,movie,Laagi Tohse Lagan,2015,1.6,5
642289,tt13977250,movie,Livrs chez vous sans contact,2021,1.4,5
839344,tt21372706,movie,Nuh'un Gemisi Cudi'de 2,2022,1.0,5

In [45]:
# reduce information to only what is needed

semi1 = (rating_sort.sort_values(by=['numVotes', 'averageRating'], ascending=False))

# select only relevant columns

semi2 = semi1[['primaryTitle', 'startYear', 'numVotes', 'averageRating']]

# select a subset of rows

final = (semi2.head())

print(final)

                    primaryTitle startYear  numVotes  averageRating
82382   The Shawshank Redemption      1994   2707952            9.3
249538           The Dark Knight      2008   2681200            9.0
632482                 Inception      2010   2379176            8.8
98830                 Fight Club      1999   2152147            8.8
81289               Forrest Gump      1994   2104001            8.8